#env
.env
#Python
__pycache__/
*.pyc
#Database
*.db
*.sql
#IDEs
.vscode/
#Flask
instance/
*.sqlite3
#venv
venv/
env/
#package
node_modules/
dist/
package-lock.json
#Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*