<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"/>
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"/>
    <title>LMS API</title>
  </head>
  <body>
    <header>
      <nav
        class="fixed top-0 left-0 w-full bg-gray-100 h-16 p-4 text-red-900 flex justify-between items-center select-none shadow z-50"
      >
        <div class="flex items-center px-6">
          <!-- Mobile menu button (only visible on small screens) -->
          <button id="mobile-menu-btn" class="mr-4 md:hidden">
            <i class="fas fa-bars text-xl"></i>
          </button>
          <a href="/login" class="cursor-pointer text-lg font-bold bg-red-400 hover:bg-red-500 p-3 rounded-full">
            Generate API Key
          </a>
        </div>

      </nav>
    </header>


  </body>
</html>
